[Unit]
Description=GHA daemon manager
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /root/ghad-manager.py
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
