.vscode

*.env
*.zip
*.swp
*.txt
!requirements.txt

__pycache__

**/.DS_Store
*.pem

**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

aws/websites/metrics.pytorch.org/vars.yml

aws/lambda/hud-query-proxy/python/*
aws/lambda/github-webhook-rds-sync/python/*
aws/lambda/github-webhook-rds-sync/hooks/*
aws/lambda/rds-proxy/python/*

# Typescript gitignore
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock
