merge_base_with = "origin/main"

[[linter]]
code = 'FLAKE8'
include_patterns = ['**/*.py']
exclude_patterns = [
    '.git/**',
    '.github/scripts/**',
    'aws/lambda/**',
    's3_management/**',
    'tools/**',
]
command = [
    'python3',
    'tools/linter/adapters/flake8_linter.py',
    '--',
    '@{{PATHSFILE}}'
]
init_command = [
    'python3',
    'tools/linter/adapters/pip_init.py',
    '--dry-run={{DRYRUN}}',
    'flake8==6.1.0',
    'flake8-bugbear==23.3.23',
    'flake8-comprehensions==3.15.0',
    'flake8-executable==2.1.3',
    'flake8-logging-format==0.9.0',
    'flake8-pyi==23.3.1',
    'flake8-simplify==0.19.3',
    'mccabe==0.7.0',
    'pycodestyle==2.11.1',
    'pyflakes==3.1.0',
    'torchfix==0.4.0 ; python_version >= "3.9" and python_version < "3.13"',
]

[[linter]]
code = 'MYPY'
include_patterns = [
    'tools/**/*.py',
    'tools/**/*.pyi',
    'stats/**/*.py',
    'stats/**/*.pyi',
    'torchci/**/*.py',
    'torchci/**/*.pyi',
    '.github/scripts/*.py',
    'aws/lambda/whl_metadata_upload_pep658/**/*.py',
]
command = [
    'python3',
    'tools/linter/adapters/mypy_linter.py',
    '--config=mypy.ini',
    '--',
    '@{{PATHSFILE}}'
]
init_command = [
    'python3',
    'tools/linter/adapters/pip_init.py',
    '--dry-run={{DRYRUN}}',
    'numpy==1.26.4 ; python_version >= "3.9" and python_version <= "3.11"',
    'numpy==2.1.0 ; python_version >= "3.12"',
    'expecttest==0.3.0',
    'mypy==1.13.0',
    'sympy==1.13.0 ; python_version >= "3.9"',
    'types-requests==2.27.25',
    'types-PyYAML==6.0.7',
    'types-tabulate==0.8.8',
    'types-protobuf==3.19.18',
    'types-pkg-resources==0.1.3',
    'types-Jinja2==2.11.9',
    'types-colorama==0.4.6',
    'filelock==3.13.1',
    'junitparser==2.1.1',
    'rich==10.9.0',
    'pyyaml==6.0.1',
    'optree==0.13.0',
]

[[linter]]
code = 'TYPEIGNORE'
include_patterns = ['**/*.py', '**/*.pyi']
exclude_patterns = [
    # Putting these exclusions just to get the linter running.
    "tools/stronghold/src/api/types.py",
    "tools/stronghold/tests/api/test_ast_param_types.py",
]
command = [
    'python3',
    'tools/linter/adapters/grep_linter.py',
    '--pattern=# type:\s*ignore([^\[]|$)',
    '--linter-name=TYPEIGNORE',
    '--error-name=unqualified type: ignore',
    """--error-description=\
        This line has an unqualified `type: ignore`; \
        please convert it to `type: ignore[xxxx]`\
    """,
    '--',
    '@{{PATHSFILE}}'
]

[[linter]]
code = 'NOQA'
include_patterns = ['**/*.py', '**/*.pyi']
command = [
    'python3',
    'tools/linter/adapters/grep_linter.py',
    '--pattern=# noqa([^:]|$)',
    '--linter-name=NOQA',
    '--error-name=unqualified noqa',
    """--error-description=\
        This line has an unqualified `noqa`; \
        please convert it to `noqa: XXXX`\
    """,
    '--',
    '@{{PATHSFILE}}'
]

[[linter]]
code = 'NEWLINE'
include_patterns=['**']
exclude_patterns=[
    '**/*.bat',
    '**/*.expect',
    '**/*.ipynb',
    '**/*.ps1',
    '**/*.ptl',
    '**/fixtures/**',
    '**/snapshots/**',
    '.github/actions/setup-ssh/index.js',
    'aws/lambda/log-classifier/data/**',
    'tools/clang-tidy-checks/*-patches/**',
]
command = [
    'python3',
    'tools/linter/adapters/newlines_linter.py',
    '--',
    '@{{PATHSFILE}}',
]
is_formatter = true


[[linter]]
code = 'SPACES'
include_patterns = ['**']
exclude_patterns = [
    '**/*.diff',
    '**/*.patch',
    '**/fixtures/**',
    '**/snapshots/**',
    '.github/actions/setup-ssh/index.js',
]
command = [
    'python3',
    'tools/linter/adapters/grep_linter.py',
    '--pattern=[[:blank:]]$',
    '--linter-name=SPACES',
    '--error-name=trailing spaces',
    '--replace-pattern=s/[[:blank:]]+$//',
    """--error-description=\
        This line has trailing spaces; please remove them.\
    """,
    '--',
    '@{{PATHSFILE}}'
]

[[linter]]
code = 'TABS'
include_patterns = ['**']
exclude_patterns = [
    '**/*.svg',
    '**/*Makefile',
    '**/.gitattributes',
    '**/.gitmodules',
    '.lintrunner.toml',
    '**/fixtures/**',
    '**/snapshots/**',
    '.github/actions/download-artifact-s3/dist/index.js',
    '.github/actions/upload-artifact-s3/dist/index.js',
    '.github/actions/setup-ssh/index.js',
    'terraform-aws-github-runner/**',
    'aws/ami/windows/**',
]
command = [
    'python3',
    'tools/linter/adapters/grep_linter.py',
    # @lint-ignore TXT2
    '--pattern=	',
    '--linter-name=TABS',
    '--error-name=saw some tabs',
    '--replace-pattern=s/\t/    /',
    """--error-description=\
        This line has tabs; please replace them with spaces.\
    """,
    '--',
    '@{{PATHSFILE}}'
]

[[linter]]
code = 'PYPIDEP'
include_patterns = ['.github/**']
exclude_patterns = [
    '**/*.rst',
    '**/*.py',
    '**/*.md',
    '**/*.diff',
    # Putting these exclusions just to get the linter running.
    ".github/scripts/validate_binaries.sh",
    ".github/scripts/validate_pipy.sh",
    ".github/scripts/validate_test_ops.sh",
    ".github/workflows/build_wheels_macos.yml",
    ".github/workflows/github-status-test-lambda.yml",
    ".github/workflows/log-classifier-lambda.yml",
    ".github/workflows/validate-linux-binaries.yml",
    ".github/workflows/validate-repackaged-binary-sizes.yml",
]
command = [
    'python3',
    'tools/linter/adapters/grep_linter.py',
    """--pattern=\
    (pip|pip3|python -m pip|python3 -m pip|python3 -mpip|python -mpip) \
    install ([a-zA-Z0-9][A-Za-z0-9\\._\\-]+)([^/=<>~!]+)[A-Za-z0-9\\._\\-\\*\\+\\!]*$\
    """,
    '--linter-name=PYPIDEP',
    '--error-name=unpinned PyPI install',
    """--error-description=\
        This line has unpinned PyPi installs; \
        please pin them to a specific version: e.g. 'thepackage==1.2'\
    """,
    '--',
    '@{{PATHSFILE}}'
]

[[linter]]
code = 'EXEC'
include_patterns = ['**']
exclude_patterns = [
    'third_party/**',
    'torch/bin/**',
    '**/*.so',
    '**/*.py',
    '**/*.sh',
    '**/*.bash',
    '**/git-pre-commit',
    '**/git-clang-format',
    '**/gradlew',
    '**/fixtures/**',
    '**/snapshots/**',
    # Putting this exclusion just to get the linter running.
    "tools/stronghold/bin/build-check-api-compatibility",
]
command = [
    'python3',
    'tools/linter/adapters/exec_linter.py',
    '--',
    '@{{PATHSFILE}}',
]

[[linter]]
code = 'ACTIONLINT'
include_patterns = [
    '.github/workflows/*.yml',
    '.github/workflows/*.yaml',
    # actionlint does not support composite actions yet
    # '.github/actions/**/*.yml',
    # '.github/actions/**/*.yaml',
]
command = [
    'python3',
    'tools/linter/adapters/actionlint_linter.py',
    '--binary=.lintbin/actionlint',
    '--',
    '@{{PATHSFILE}}',
]
init_command = [
    'python3',
    'tools/linter/adapters/s3_init.py',
    '--config-json=tools/linter/adapters/s3_init_config.json',
    '--linter=actionlint',
    '--dry-run={{DRYRUN}}',
    '--output-dir=.lintbin',
    '--output-name=actionlint',
]

# usort + ruff-format
[[linter]]
code = 'PYFMT'
include_patterns = [
    '**/*.py',
]
exclude_patterns = [
    'aws/lambda/**',
    's3_management/**',
]
command = [
    'python3',
    'tools/linter/adapters/pyfmt_linter.py',
    '--',
    '@{{PATHSFILE}}'
]
init_command = [
    'python3',
    'tools/linter/adapters/pip_init.py',
    '--dry-run={{DRYRUN}}',
    '--no-black-binary',
    'black==23.12.1',
    'usort==1.0.8.post1',
    'isort==5.13.2',
    'ruff==0.8.4',  # sync with RUFF
]
is_formatter = true

[[linter]]
code = 'COPYRIGHT'
include_patterns = ['**']
exclude_patterns = ['.lintrunner.toml', '**/fixtures/**']
command = [
    'python3',
    'tools/linter/adapters/grep_linter.py',
    '--pattern=Confidential and proprietary',
    '--linter-name=COPYRIGHT',
    '--error-name=Confidential Code',
    """--error-description=\
        Proprietary and confidential source code\
        should not be contributed to PyTorch/test-infra codebase\
    """,
    '--',
    '@{{PATHSFILE}}'
]

[[linter]]
code = 'LINTRUNNER_VERSION'
include_patterns = ['**']
command = [
    'python3',
    'tools/linter/adapters/lintrunner_version_linter.py'
]

[[linter]]
code = 'RUFF'
include_patterns = ['**/*.py']
exclude_patterns = [
    '.github/scripts/**',
    'aws/lambda/**',
    's3_management/**',
    'tools/**',
]
command = [
    'python3',
    'tools/linter/adapters/ruff_linter.py',
    '--config=pyproject.toml',
    '--show-disable',
    '--',
    '@{{PATHSFILE}}'
]
init_command = [
    'python3',
    'tools/linter/adapters/pip_init.py',
    '--dry-run={{DRYRUN}}',
    'ruff==0.8.4',  # sync with PYFMT
]
is_formatter = true

[[linter]]
code = 'SQLFLUFF'
# include_patterns = ['torchci/clickhouse_queries/**/*.sql']
include_patterns = [
    'torchci/clickhouse_queries/workflow_load/query.sql',
    'torchci/clickhouse_queries/oss_ci_benchmark_branches/query.sql',
    'torchci/clickhouse_queries/oss_ci_benchmark_llms/query.sql',
    'torchci/clickhouse_queries/oss_ci_benchmark_names/query.sql',
]
exclude_patterns = [
]
command = [
    'python3',
    'tools/linter/adapters/sqlfluff_linter.py',
    '@{{PATHSFILE}}',
]
init_command = [
    'python3',
    'tools/linter/adapters/pip_init.py',
    '--dry-run={{DRYRUN}}',
    'sqlfluff==3.3.0',
]
is_formatter = true

[[linter]]
code = 'SQL_PARAMS'
include_patterns = ['torchci/clickhouse_queries/**/params.json']
exclude_patterns = []
command = [
    'python3',
    'tools/linter/adapters/sql_params_linter.py',
    '@{{PATHSFILE}}',
]
is_formatter = false

[[linter]]
code = 'RUSTFMT'
include_patterns = ['**/*.rs']
command = [
    'python',
    'tools/linter/adapters/rustfmt_linter.py',
    '--binary=rustfmt',
    '--config-path=tools/linter/adapters/rustfmt.toml',
    '--',
    '@{{PATHSFILE}}'
]
