.chartContainer {
  display: flex; /* or inline-flex */
}

.selected-rect {
  fill: brown;
  opacity: 0.7;
}

.rect {
  opacity: 0.2;
}

.rect:hover {
  fill: blue;
  opacity: 0.5;
}
.rect:active {
  fill: red;
}
