# Terraform
.terraform/
terraform.tfstate*
*.tfplan

# Lambda build artifacts
lambda/node_modules/
lambda/dist/
infra/lambda.zip

# Misc
.DS_Store

# Include tfvars files (override parent .gitignore)
!*.tfvars*
