# Terraform
.terraform/
terraform.tfstate*
*.tfplan

# Lambda build artifacts
lambdas/**/node_modules/
lambdas/**/dist/
infra/collector.zip
infra/external-alerts-webhook.zip

# Misc
.DS_Store

# Include tfvars files (override parent .gitignore)
!*.tfvars*

# Local-only tfvars files. For testing, secrets, etc.
*.local.tfvars 

sample_data/
