.rowFlexCenter {
  display: flex; /* or inline-flex */
  align-items: center;
}

.tooltipline {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  padding: 12px;
  background-color: var(--tooltip-bg, #f0f0f0);
  color: var(--tooltip-text, black);
  border-radius: 5px;
  border: 1px solid var(--border-color, grey);
}

.selected-rect {
  fill: brown;
  opacity: 0.7;
}

.rect:hover {
  fill: blue;
  opacity: 0.7;
}
.rect:active {
  fill: red;
}

.linePickerGroup {
  height: 300px; /* fixed height */
  overflow-y: auto;
  scrollbar-width: thin;
}
