.commitMessage {
  background-color: var(--commit-message-bg);
  white-space: pre;
  max-height: 13em;
  overflow: scroll;
  margin: 10px;
}

.workflowContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.workflowBoxFail {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--workflow-box-fail-bg);
}

.workflowBoxSuccess {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--workflow-box-success-bg);
}

.buttonBorder {
  border: 1px solid;
}

.buttonBorder:hover {
  background-color: var(--button-hover-bg);
}
