.hudTable {
  table-layout: fixed;
  border-collapse: collapse;
  width: max-content;
  line-height: 1;
}

/* Fix the width of these columns to avoid layout shift when loading the HUD
 table. */
.colTime {
  width: 12ch;
}
.colSha {
  width: 8ch;
}
.colCommit {
  width: 40ch;
}
.colPr {
  width: 8ch;
}
.colJob {
  width: 1.3ch;
}
.colAuthor {
  width: 12ch;
}
.tooltip-target-no-click {
  cursor: default;
}

/* Define column widths */
.jobColumnThin {
  width: 100px;
}

.jobColumnMedium {
  width: 150px;
}

.jobColumnWide {
  width: 200px;
}

.jobColumnXWide {
  width: 250px;
}

.jobColumnFlex {
  flex: 1;
}

/* code to roatate the workflow name headers */
.jobHeader {
  font-family: sans-serif;
  height: 220px;
  white-space: nowrap;
  font-family: sans-serif;
  padding-right: 4px;
}

.jobHeaderName {
  transform: translate(10px, 100px) rotate(315deg);
  width: 12px;
  font-weight: 400;
  font-size: 0.8em;
}

.regularHeader {
  vertical-align: bottom;
}

.jobMetadata a {
  text-decoration: none;
  color: var(--link-color);
}

.jobMetadataTruncated {
  vertical-align: top;
  width: auto;
  height: 20px;
  min-width: 0;
  max-width: 37ch;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 2px;
  padding: 0 2px;
}

.jobMetadataTruncatedAuthor {
  vertical-align: top;
  width: auto;
  height: 20px;
  min-width: 0;
  max-width: 12ch;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 2px;
  padding: 0 2px;
}

.branchForm {
  display: inline;
}

.branchFormInput {
  font-weight: bold;
  font-family: monospace;
  background-color: var(--code-bg);
  font-size: 1em;
  border: 0px;
  padding: 0px;
  padding-left: 4px;
}

.userbenchmarkTable {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}

.forcedMerge {
  background-color: var(--forced-merge-bg);
}

.forcedMergeWithFailure {
  background-color: var(--forced-merge-failure-bg);
}

.selectedRow {
  background-color: var(--selected-row-bg);
  font-weight: bold;
}

.center {
  text-align: center;
}

.centered {
  text-align: center;
}

.highlight {
  background-color: var(--highlight-bg);
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  margin-bottom: 0.5rem;
  float: left;
  margin-right: 2rem;
  width: 200px;
}

.controlsContainer > div {
  margin: 0;
}
