.conclusion {
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;
}

.classified {
  color: lightpink;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.failure_monster {
  width: 14px;
  height: 15px;
  background-image: url("/failures_spritesheet.png");
  background-size: 152px 426px; /* total size of the spritesheet (downscaled 1.5x) */
}

.skipped {
  color: grey;
}

.neutral {
  color: grey;
}

.cancelled {
  color: red;
}

.timed_out {
  color: red;
}

.pending {
  color: goldenrod;
}

.queued {
  color: lightgray;
}

.none {
  color: lightgray;
}

.all_null {
  color: grey;
}

.flaky {
  font-size: 1.3em;
  color: mediumseagreen;
}

.warning {
  font-size: 1.3em;
  color: lightpink;
}

.blink {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
