.conclusion {
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  width: 14px;
  text-align: center;
}

.classified {
  color: var(--color-classified);
}

.success {
  color: var(--color-success);
}

.failure {
  color: var(--color-failure);
}

.failure_monster {
  width: 14px;
  height: 15px;
  background-image: url("/failures_spritesheet.png");
  background-size: 152px 426px; /* total size of the spritesheet (downscaled 1.5x) */
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  image-rendering: pixelated;
}

.grouped_monsters {
  border: 1px solid gainsboro;
  padding: 0 1px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 3px;
}

.grouped_monsters_no_border {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.monster_with_count {
  position: relative;
  display: inline-block;
  margin: 0;
}

.monster_count {
  position: absolute;
  bottom: -1px;
  right: -2px;
  font-size: 8px;
  color: var(--color-failure);
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: 0px 0px 1px white;
}

.skipped {
  color: var(--color-grey);
}

.neutral {
  color: var(--color-grey);
}

.cancelled {
  color: var(--color-failure);
}

.timed_out {
  color: var(--color-failure);
}

.pending {
  color: var(--color-pending);
}

.queued {
  color: var(--color-light-grey);
}

.none {
  color: var(--color-light-grey);
}

.all_null {
  color: var(--color-grey);
}

.flaky {
  color: var(--color-flaky);
}

.warning {
  color: var(--color-warning);
}

.viablestrict_blocking {
  border-left: 1px solid var(--color-failure);
  border-right: 1px solid var(--color-failure);
}
