.conclusion {
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;
}

.classified {
  color: lightpink;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.skipped {
  color: grey;
}

.neutral {
  color: grey;
}

.cancelled {
  color: red;
}

.timed_out {
  color: red;
}

.pending {
  color: goldenrod;
}

.none {
  color: lightgray;
}

.all_null {
  color: grey;
}

.flaky {
  color: lightgreen;
}

.warning {
  color: #f8b88b;
}
