.ok {
  background-color: var(--workflow-box-success-bg, lightgreen);
  color: var(--text-color);
}

.warning {
  background-color: var(--workflow-box-pending-bg, lightyellow);
  color: var(--text-color);
}

.failure {
  background-color: var(--workflow-box-none-bg, lightgray);
  color: var(--text-color);
}

.error {
  background-color: var(--workflow-box-fail-bg, lightpink);
  color: var(--text-color);
}

.name {
  font-weight: bold;
}

.selectedRow {
  background-color: var(--selected-row-bg, lightblue);
  color: var(--text-color);
}
