.target {
  cursor: pointer;
}

.container {
  position: relative;
}

.content {
  background-color: lightgray;
  padding: 5px 0;
  border-radius: 6px;
  cursor: default;

  position: absolute;
  z-index: 1;
  top: calc(100% + 5px);
  left: calc(100% + 5px);
  white-space: nowrap;
}

.contentPinned {
  background-color: lightblue;
  padding: 5px 0;
  border-radius: 6px;
  cursor: default;

  position: absolute;
  z-index: 1;
  top: calc(100% + 5px);
  left: calc(100% + 5px);
  white-space: nowrap;
}
