.target {
  cursor: help;
  position: relative;
  display: inline-block;
}

.targetContent {
  display: inline-block;
  padding: 2px 0;
}

.container {
  position: absolute;
  left: 0;
  top: -5px;
  transform: translateY(-100%);
  display: inline-flex;
  z-index: 100;
  pointer-events: none;
}

.content,
.contentPinned {
  padding: 5px 8px;
  border-radius: 6px;
  cursor: default;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  position: absolute;
  z-index: 1;
  margin-bottom: 10px;
  top: 30px;
  max-width: 80vw;
  width: auto; /* Allow content to determine width but respect max-width */
  white-space: nowrap;
  left: 15px;
  min-height: 3em;
}

.content {
  background-color: var(--tooltip-bg);
}

.contentPinned {
  background-color: var(--tooltip-pinned-bg);
}

.content pre {
  white-space: pre-wrap;
  margin: 0;
  overflow-x: auto; /* Add horizontal scrolling if needed */
}

.contentPinned pre {
  white-space: pre-wrap;
  margin: 0;
  overflow-x: auto; /* Add horizontal scrolling if needed */
}
