.target {
  cursor: help;
}

.container {
  position: relative;
  display: inline-flex;
}

.content {
  background-color: lightgray;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: default;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  position: absolute;
  z-index: 1;
  top: calc(100% + 5px);
  left: calc(100% + 5px);
  white-space: nowrap;
}

.contentPinned {
  background-color: lightblue;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: default;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  position: absolute;
  z-index: 1;
  top: calc(100% + 5px);
  left: calc(100% + 5px);
  white-space: nowrap;
}
