.target {
  cursor: help;
  position: relative;
  display: inline-block;
}

.targetContent {
  display: inline-block;
  padding: 2px 0;
}

.container {
  position: absolute;
  left: 0;
  top: -5px;
  transform: translateY(-100%);
  display: inline-flex;
  z-index: 100;
  pointer-events: none;
}

.content {
  background-color: var(--tooltip-bg);
  padding: 5px 8px;
  border-radius: 6px;
  cursor: default;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  position: relative;
  z-index: 1;
  max-width: 600px;
  min-height: 3em;
  margin-bottom: 10px;
}

.contentPinned {
  background-color: var(--tooltip-pinned-bg);
  padding: 5px 8px;
  border-radius: 6px;
  cursor: default;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  position: relative;
  z-index: 1;
  max-width: 600px;
  margin-bottom: 10px;
}

.content pre {
  white-space: pre-wrap;
  margin: 0;
}

.contentPinned pre {
  white-space: pre-wrap;
  margin: 0;
}
