# Copy this file to .env.local and add keys based on the instructions.
# Ask @suo if you don't know how to get any of these things.

# Rockset API key for talking to our data backend. You can generate one from the
# Rockset console (https://console.rockset.com/apikeys).
ROCKSET_API_KEY=

# GitHub App credentials for probot. Only needed if testing bot stuff locally.
PRIVATE_KEY=
APP_ID=
WEBHOOK_SECRET=

# AWS Access key for Dynamo/S3. Only needed if testing lambda stuff locally.
OUR_AWS_ACCESS_KEY_ID=
OUR_AWS_SECRET_ACCESS_KEY=
