# Copy this file to .env.local and add keys based on the instructions.  All of
# these keys can be found on Keeper.

# GitHub App credentials for probot. Only needed if testing bot stuff locally.
PRIVATE_KEY=
APP_ID=
WEBHOOK_SECRET=

# AWS Access key for Dynamo/S3. Only needed if testing lambda stuff locally.
OUR_AWS_ACCESS_KEY_ID=
OUR_AWS_SECRET_ACCESS_KEY=

# Github Oauth Tokens for adding login.
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
AUTH_SECRET=
JWT_SECRET=
# Custom url for the next-auth module
NEXTAUTH_URL=http://localhost:3000

# AWS OpenSearch cluster. Only needed if testing the search API
OPENSEARCH_ENDPOINT=
OPENSEARCH_REGION=
OPENSEARCH_USERNAME=
OPENSEARCH_PASSWORD=

# Secrets for making queries to ClickHouse.  They can be found on Keeper
CLICKHOUSE_HUD_USER_URL=
CLICKHOUSE_HUD_USER_USERNAME=
CLICKHOUSE_HUD_USER_PASSWORD=
