name: Test

on:
  push:
    branches:
      - main
    paths:
      - '.github/actions/upload-artifact-s3/**'
  pull_request:
    paths:
      - '.github/actions/upload-artifact-s3/**'

jobs:
  build:
    name: Build

    strategy:
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    runs-on: ${{ matrix.runs-on }}

    defaults:
      run:
        working-directory: ./.github/actions/upload-artifact-s3

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup Node 20
      uses: actions/setup-node@v6
      with:
        node-version: 20.x
        cache: 'npm'
        cache-dependency-path: ./.github/actions/upload-artifact-s3/package-lock.json

    - name: Install dependencies
      run: npm ci

    - name: Compile
      run: npm run build

    - name: Lint
      run: npm run lint

    - name: Format
      run: npm run format-check

    - name: Test
      run: npm run test
