name: Build Linux Wheels

on:
  workflow_call:
    inputs:
      domain:
        description: 'name of the domain library calling this reusable workflow.'
        required: true
        type: string

jobs:
  wheels:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.x
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: python -m pip install --upgrade setuptools wheel
      # Include domain-specific pre-build step here 
      # (where each domain lib brings its own setup script)
      # Use the domain input to call the right composite action
    - name: Run pre-build script
      run: ./packaging/pre_build_script.sh
    - name: Build clean
      run: python setup.py clean
    - name: Build wheels
      run: python setup.py bdist_wheel
    - name: Run post-build script
      run: ./packaging/post_build_script.sh
