name: Build Linux Conda

on:
  workflow_call:
    inputs:
      conda-package-directory:
        description: 'Directory where your meta.yaml for your conda package lives'
        required: true
        type: string
      repository:
        description: 'Repository to checkout, defaults to ""'
        default: ""
        type: string
      ref:
        description: 'Reference to checkout, defaults to "nightly"'
        default: "nightly"
        type: string
      test-infra-repository:
        description: "Test infra repository to use"
        default: "pytorch/test-infra"
        type: string
      test-infra-ref:
        description: "Test infra reference to use"
        default: ""
        type: string
      build-matrix:
        description: "Build matrix to utilize"
        default: ""
        type: string
      pre-script:
        description: "Pre script to run prior to build"
        default: ""
        type: string
      post-script:
        description: "Post script to run prior to build"
        default: ""
        type: string
      smoke-test-script:
        description: "Script for Smoke Test for a specific domain"
        default: ""
        type: string
      env-var-script:
        description: "Script that sets Domain-Specific Environment Variables"
        default: ""
        type: string
      package-name:
        description: "Name of the actual python package that is imported"
        default: ""
        type: string
      trigger-event:
        description: "Trigger Event in caller that determines whether or not to upload"
        default: ""
        type: string
      cache-path:
        description: "If Caching is used provide valid path"
        default: ""
        type: string
      cache-key:
        description: "If Caching is used provide valid key"
        default: ""
        type: string
      cache-miss-script:
        description: "Script to run if cache is missed"
        default: ""
        type: string
    secrets:
      CONDA_PYTORCHBOT_TOKEN:
        description: "Access Token needed to upload binaries to anaconda"
        required: false

jobs:
  build:
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(inputs.build-matrix) }}
    env:
      CONDA_PACKAGE_DIRECTORY: ${{ inputs.conda-package-directory }}
      PYTHON_VERSION: ${{ matrix.python_version }}
      PACKAGE_TYPE: conda
      REPOSITORY: ${{ inputs.repository }}
      REF: ${{ inputs.ref }}
      CU_VERSION: ${{ matrix.desired_cuda }}
    name: ${{ matrix.build_name }}
    runs-on: ${{ matrix.validation_runner }}
    container:
      image: ${{ matrix.container_image }}
    # If a build is taking longer than 60 minutes on these runners we need
    # to have a conversation
    timeout-minutes: 60
    steps:
      # Use the same trick from https://github.com/marketplace/actions/setup-miniconda
      # to refresh the cache daily. This is kind of optional though
      - name: Get date
        id: get-date
        shell: bash
        run: |
          echo "today=$(/bin/date -u '+%Y%m%d')d" >> "${GITHUB_OUTPUT}"
      - uses: actions/checkout@v3
        with:
          # Support the use case where we need to checkout someone's fork
          repository: ${{ inputs.test-infra-repository }}
          ref: ${{ inputs.test-infra-ref }}
          path: test-infra
      - name: Setup SSH
        uses: ./test-infra/.github/actions/setup-ssh
        with:
          github-secret: ${{ github.token }}
      - uses: ./test-infra/.github/actions/set-channel
      - uses: ./test-infra/.github/actions/setup-binary-builds
        with:
          repository: ${{ inputs.repository }}
          ref: ${{ inputs.ref }}
          setup-miniconda: false
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Combine Env Var and Build Env Files
        if: ${{ inputs.env-var-script != '' }}
        working-directory: ${{ inputs.repository }}
        run: |
          set -euxo pipefail
          cat "${{ inputs.env-var-script }}" >> "${BUILD_ENV_FILE}"
      - name: Run cache action
        if: ${{ inputs.cache-path != '' }}
        id: run-cache-action
        uses: actions/cache@v3
        with:
          path: '${{ github.workspace }}//${{ inputs.repository }}${{ inputs.cache-path }}'
          key: '${{ inputs.cache-key }}-${{ steps.get-date.outputs.today }}'
      - name: Run cache miss script
        if: ${{ inputs.cache-path != '' && steps.run-cache-action.outputs.cache-hit != 'true' }}
        uses: ./test-infra/.github/actions/run-script
        with:
          script: ${{ inputs.cache-miss-script }}
          working-directory:  ${{ inputs.repository }}
      - name: Run pre-script
        uses: ./test-infra/.github/actions/run-script
        with:
          script: ${{ inputs.pre-script}}
          working-directory:  ${{ inputs.repository }}

      - name: Setup base environment variables
        run: |
          set -euxo pipefail
          echo "SOURCE_ROOT_DIR=${GITHUB_WORKSPACE}/${REPOSITORY}" >> "${GITHUB_ENV}"
      - name: Build the conda (conda-build)
        working-directory: ${{ inputs.repository }}
        env:
          CUDATOOLKIT_CHANNEL: ${{ env.CUDATOOLKIT_CHANNEL }}
        run: |
          set -euxo pipefail
          source "${BUILD_ENV_FILE}"
          export FFMPEG_ROOT="${PWD}"/third_party/ffmpeg
          export USE_FFMPEG="1"

          ${CONDA_RUN} conda build \
            -c defaults \
            -c "${CUDATOOLKIT_CHANNEL}" \
            -c "pytorch-${CHANNEL}" \
            --no-anaconda-upload \
            --python "${PYTHON_VERSION}" \
            --output-folder distr/ \
            "${CONDA_PACKAGE_DIRECTORY}"

      - name: Upload artifact to GitHub
        continue-on-error: true
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ inputs.repository }}/distr/
      - name: Run post-script
        uses: ./test-infra/.github/actions/run-script
        with:
          script: ${{ inputs.post-script}}
          working-directory:  ${{ inputs.repository }}
      - name: Smoke Test
        env:
          PACKAGE_NAME: ${{ inputs.package-name }}
          SMOKE_TEST_SCRIPT: ${{ inputs.smoke-test-script }}
          GPU_ARCH: ${{ matrix.gpu_arch_type }}
          DESIRED_CUDA: ${{ matrix.desired_cuda }}
          GPU_ARCH_VERSION: ${{ matrix.gpu_arch_version }}
        run: |
          set -euxo pipefail
          source "${BUILD_ENV_FILE}"
          CONDA_LOCAL_CHANNEL="file://$(readlink -f ${{ inputs.repository }}/distr)"

          export CONDA_ENV_SMOKE="${RUNNER_TEMP}/pytorch_pkg_helpers_${GITHUB_RUN_ID}_smoke"
          conda create --yes --quiet --prefix "${CONDA_ENV_SMOKE}" python="${PYTHON_VERSION}"
          export CONDA_RUN_SMOKE="conda run -p ${CONDA_ENV_SMOKE}"

          if [[ "${GPU_ARCH}" = "cuda" ]]; then
            CONSTRAINTS="pytorch-cuda=${GPU_ARCH_VERSION}"
          else
            CONSTRAINTS="cpuonly"
          fi
          ${CONDA_RUN_SMOKE} conda install -v -y -c pytorch-"${CHANNEL}" -c nvidia -c "${CONDA_LOCAL_CHANNEL}" distr::"${PACKAGE_NAME}" ${CONSTRAINTS}

          if [[ ! -f "${{ inputs.repository }}"/${SMOKE_TEST_SCRIPT} ]]; then
            echo "${{ inputs.repository }}/${SMOKE_TEST_SCRIPT} not found"
            ${CONDA_RUN_SMOKE} python3 -c "import ${PACKAGE_NAME}; print('package version is ', ${PACKAGE_NAME}.__version__)"
          else
            echo "${{ inputs.repository }}/${SMOKE_TEST_SCRIPT} found"
            export LD_LIBRARY_PATH="{LD_LIBRARY_PATH}:${{ inputs.repository }}/third_party/ffmpeg/lib"
            conda install --yes --quiet 'ffmpeg<5'
            ${CONDA_RUN_SMOKE} python "${{ inputs.repository }}/${SMOKE_TEST_SCRIPT}"
          fi
          conda env remove -p "${CONDA_ENV_SMOKE}"
      - name: Upload package to conda
        if: ${{ (inputs.trigger-event == 'push' && env.CHANNEL != 'test') || (env.CHANNEL == 'test' && startsWith(github.event.ref, 'refs/tags/')) }}
        working-directory: ${{ inputs.repository }}
        env:
          CONDA_PYTORCHBOT_TOKEN: ${{ secrets.CONDA_PYTORCHBOT_TOKEN }}
        run: |
          set -euxo pipefail
          source "${BUILD_ENV_FILE}"
          ${CONDA_RUN} conda install --yes --quiet anaconda-client
          ${CONDA_RUN} anaconda -t "${CONDA_PYTORCHBOT_TOKEN}" upload distr/linux-64/*.tar.bz2 -u "pytorch-${CHANNEL}" --label main --no-progress --force

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}-${{ inputs.repository }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true
