name: Build Windows Conda

on:
  workflow_call:
    inputs:
      runner-type:
        description: "Runner type"
        default: ""
        type: string
      conda-package-directory:
        description: 'Directory where your meta.yaml for your conda package lives'
        required: true
        type: string
      repository:
        description: 'Repository to checkout, defaults to ""'
        default: ""
        type: string
      ref:
        description: 'Reference to checkout, defaults to "nightly"'
        default: "nightly"
        type: string
      test-infra-repository:
        description: "Test infra repository to use"
        default: "pytorch/test-infra"
        type: string
      test-infra-ref:
        description: "Test infra reference to use"
        default: ""
        type: string
      build-matrix:
        description: "Build matrix to utilize"
        default: ""
        type: string
      pre-script:
        description: "Pre script to run prior to build"
        default: ""
        type: string
      post-script:
        description: "Post script to run prior to build"
        default: ""
        type: string
      package-name:
        description: "Name of the actual python package that is imported"
        default: ""
        type: string
      trigger-event:
        description: "Trigger Event in caller that determines whether or not to upload"
        default: ""
        type: string
    secrets:
      CONDA_PYTORCHBOT_TOKEN:
        description: "Access Token needed to upload binaries to anaconda"
        required: false

jobs:
  build:
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(inputs.build-matrix) }}
    env:
      CONDA_PACKAGE_DIRECTORY: ${{ inputs.conda-package-directory }}
      PYTHON_VERSION: ${{ matrix.python_version }}
      PACKAGE_TYPE: conda
      REPOSITORY: ${{ inputs.repository }}
      REF: ${{ inputs.ref }}
      CU_VERSION: ${{ matrix.desired_cuda }}
    name: ${{ matrix.build_name }}
    runs-on: ${{ matrix.validation_runner }}
    defaults:
      run:
        shell: bash -l {0}
    # If a build is taking longer than 60 minutes on these runners we need
    # to have a conversation
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v3
        with:
          # Support the use case where we need to checkout someone's fork
          repository: ${{ inputs.test-infra-repository }}
          ref: ${{ inputs.test-infra-ref }}
          path: test-infra
      - uses: ./test-infra/.github/actions/set-channel
      - uses: ./test-infra/.github/actions/setup-ssh
        name: Setup SSH
        with:
          github-secret: ${{ secrets.GITHUB_TOKEN }}
          activate-with-label: false
          instructions: "SSH with rdesktop using ssh -L 3389:localhost:3389 %%username%%@%%hostname%%"
      - name: Add Conda scripts to GitHub path
        run: |
          echo "C:/Jenkins/Miniconda3/Scripts" >> $GITHUB_PATH
      - uses: ./test-infra/.github/actions/setup-binary-builds
        with:
          repository: ${{ inputs.repository }}
          ref: ${{ inputs.ref }}
          setup-miniconda: false
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Run pre-script
        working-directory: ${{ inputs.repository }}
        env:
          PRE_SCRIPT: ${{ inputs.pre-script }}
        if: ${{ inputs.pre-script != '' }}
        run: |
          source "${BUILD_ENV_FILE}"
          C:/Jenkins/Miniconda3/Scripts/activate.bat ${CONDA_ENV}

          if [[ ! -f ${PRE_SCRIPT} ]]; then
            echo "::error::Specified pre-script file (${PRE_SCRIPT}) not found, not going execute it"
            exit 1
          else
            if [[ ${PRE_SCRIPT} == *.bat ]]; then
              ${PRE_SCRIPT}
            else
              source ${PRE_SCRIPT}
            fi
          fi
      - name: Setup base environment variables
        run: |
          # //\\// means replace every backslash with slash
          echo "SOURCE_ROOT_DIR=${GITHUB_WORKSPACE//\\//}/${REPOSITORY}" >> "${GITHUB_ENV}"
      - name: VS2019 conda-build
        working-directory: ${{ inputs.repository }}
        env:
          CUDATOOLKIT_CHANNEL: ${{ env.CUDATOOLKIT_CHANNEL }}
          PACKAGE_NAME: ${{ inputs.package-name }}
        run: |
          export VSTOOLCHAIN_PACKAGE=vs2019
          export VSDEVCMD_ARGS=''
          source "${BUILD_ENV_FILE}"
          source /c/Jenkins/Miniconda3/etc/profile.d/conda.sh
          conda install -yq conda-build "conda-package-handling!=1.5.0"

          conda build \
            -c defaults \
            -c "${CUDATOOLKIT_CHANNEL}" \
            -c "pytorch-${CHANNEL}" \
            --no-anaconda-upload \
            --python "${PYTHON_VERSION}" \
            packaging/$VSTOOLCHAIN_PACKAGE
          cp packaging/$VSTOOLCHAIN_PACKAGE/conda_build_config.yaml packaging/$PACKAGE_NAME/conda_build_config.yaml
      - name: Build the conda (conda-build)
        working-directory: ${{ inputs.repository }}
        env:
          CUDATOOLKIT_CHANNEL: ${{ env.CUDATOOLKIT_CHANNEL }}
        run: |
          set -euxo pipefail
          cat "${BUILD_ENV_FILE}"
          source "${BUILD_ENV_FILE}"
          export FFMPEG_ROOT="${PWD}"/third_party/ffmpeg
          export USE_FFMPEG="1"

          #conda install -yq conda-build "conda-package-handling!=1.5.0"
          #bash packaging/build_conda.sh


          conda build \
            -c defaults \
            -c "${CUDATOOLKIT_CHANNEL}" \
            -c "pytorch-${CHANNEL}" \
            --no-anaconda-upload \
            --no-test  --python "${PYTHON_VERSION}" \
            --output-folder dist/ \
            "${CONDA_PACKAGE_DIRECTORY}"
      - name: Upload artifact to GitHub
        continue-on-error: true
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ inputs.repository }}/dist/
      - name: Run post-script
        working-directory: ${{ inputs.repository }}
        env:
          POST_SCRIPT: ${{ inputs.post-script }}
        if: ${{ inputs.post-script != '' }}
        run: |
          source "${BUILD_ENV_FILE}"
          if [[ ! -f ${POST_SCRIPT} ]]; then
            echo "::error::Specified post-script file (${POST_SCRIPT}) not found, not going execute it"
            exit 1
          else
            ${CONDA_RUN} bash "${POST_SCRIPT}"
          fi
      - name: Upload package to conda
        if: ${{ (inputs.trigger-event == 'push' && env.CHANNEL != 'test') || (env.CHANNEL == 'test' && startsWith(github.event.ref, 'refs/tags/')) }}
        working-directory: ${{ inputs.repository }}
        env:
          CONDA_PYTORCHBOT_TOKEN: ${{ secrets.CONDA_PYTORCHBOT_TOKEN }}
        run: |
          source "${BUILD_ENV_FILE}"
          ${CONDA_RUN} conda install --yes --quiet anaconda-client
          set -x
          ANACONDA_PATH=$(${CONDA_RUN} conda info --base)/bin
          set ANACONDA_PATH
          echo "$ANACONDA_PATH"
          "$ANACONDA_PATH/anaconda" -t "${CONDA_PYTORCHBOT_TOKEN}" upload dist/win-64/*.tar.bz2 -u "pytorch-${CHANNEL}" --label main --no-progress --force

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}-${{ inputs.repository }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true
