name: Custom clang-tidy build (macos)

on:
  pull_request:
    paths:
      - 'tools/clang-tidy-checks/**'
      - '!tools/clang-tidy-checks/Dockerfile.cilint-clang-tidy'
      - '!tools/clang-tidy-checks/README.md'
      - '.github/workflows/clang-tidy-macos.yml'
  push:
    branches:
      - main
    paths:
      - 'tools/clang-tidy-checks/**'
      - '!tools/clang-tidy-checks/Dockerfile.cilint-clang-tidy'
      - '!tools/clang-tidy-checks/README.md'
      - '.github/workflows/clang-tidy-macos.yml'

jobs:
  build-Intel:
    runs-on: macos-13
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          brew install ninja
      - name: Build
        working-directory: ./tools/clang-tidy-checks
        run: |
          set -ex

          # LLVM is installed on the machine, but the binaries are not on the path
          PATH="$(brew --prefix llvm)/bin:$PATH"
          export PATH

          ./setup.sh
      - uses: driazati/upload-artifact-s3@50adbe4ef0b6d9221df25c18c5fc528dfcb7c3f8
        name: Publish clang-tidy binary
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          name: clang-tidy
          if-no-files-found: error
          s3-prefix: macos-i386/19.1.4
          s3-bucket: oss-clang-format
          path: tools/clang-tidy-checks/llvm-project/build/bin/clang-tidy
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - uses: driazati/upload-artifact-s3@50adbe4ef0b6d9221df25c18c5fc528dfcb7c3f8
        name: Publish clang-format binary
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          name: clang-format
          if-no-files-found: error
          s3-prefix: macos-i386/19.1.4
          s3-bucket: oss-clang-format
          path: tools/clang-tidy-checks/llvm-project/build/bin/clang-format
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  build-M1:
    runs-on: macos-m1-stable
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          brew install ninja cmake
      - name: Build
        working-directory: ./tools/clang-tidy-checks
        run: |
          set -ex

          # LLVM is installed on the machine, but the binaries are not on the path
          PATH="$(brew --prefix llvm)/bin:$PATH"
          export PATH

          ./setup.sh
      - uses: driazati/upload-artifact-s3@50adbe4ef0b6d9221df25c18c5fc528dfcb7c3f8
        name: Publish clang-tidy binary
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          name: clang-tidy
          if-no-files-found: error
          s3-prefix: macos-arm/19.1.4
          s3-bucket: oss-clang-format
          path: tools/clang-tidy-checks/llvm-project/build/bin/clang-tidy
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - uses: driazati/upload-artifact-s3@50adbe4ef0b6d9221df25c18c5fc528dfcb7c3f8
        name: Publish clang-format binary
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          name: clang-format
          if-no-files-found: error
          s3-prefix: macos-arm/19.1.4
          s3-bucket: oss-clang-format
          path: tools/clang-tidy-checks/llvm-project/build/bin/clang-format
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true
