name: Custom clang-tidy build (macos)

on:
  pull_request:
    paths:
      - 'tools/clang-tidy-checks/**'
      - '!tools/clang-tidy-checks/Dockerfile.cilint-clang-tidy'
      - '!tools/clang-tidy-checks/README.md'
      - '.github/workflows/clang-tidy-macos.yml'
  push:
    branches:
      - master
    paths:
      - 'tools/clang-tidy-checks/**'
      - '!tools/clang-tidy-checks/Dockerfile.cilint-clang-tidy'
      - '!tools/clang-tidy-checks/README.md'
      - '.github/workflows/clang-tidy-macos.yml'

jobs:
  build:
    runs-on: macos-10.15
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          brew install ninja
      - name: Build
        working-directory: ./tools/clang-tidy-checks
        run: |
          set -ex

          # LLVM is installed on the machine, but the binaries are not on the path
          PATH="$(brew --prefix llvm)/bin:$PATH"
          export PATH

          ./setup.sh
      - uses: driazati/upload-artifact-s3@50adbe4ef0b6d9221df25c18c5fc528dfcb7c3f8
        name: Publish binary
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        with:
          name: clang-tidy
          if-no-files-found: error
          s3-prefix: macos
          s3-bucket: oss-clang-format
          path: tools/clang-tidy-checks/llvm-project/build/bin/clang-tidy
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
