name: Test and deploy clickhouse-replicator-dynamo lambda

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/clickhouse-replicator-dynamo-lambda.yml
      - aws/lambda/clickhouse-replicator-dynamo/**

defaults:
  run:
    working-directory: aws/lambda/clickhouse-replicator-dynamo

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: pip
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1.7.0
        with:
          role-to-assume: arn:aws:iam::308535385114:role/gha_deploy_clickhouse_replicator_lambdas
          aws-region: us-east-1
      - run: make deploy
