name: Test and deploy clickhouse-replicator-s3 lambda

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/clickhouse-replicator-s3-lambda.yml
      - aws/lambda/clickhouse-replicator-s3/**

defaults:
  run:
    working-directory: aws/lambda/clickhouse-replicator-s3

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.12'
          cache: pip
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: arn:aws:iam::308535385114:role/gha_deploy_clickhouse_replicator_lambdas
          aws-region: us-east-1
      - run: make deploy
