name: Deploy whl_metadata_upload_pep658 to pytorch AWS account

on:
  pull_request:
    paths:
      - aws/lambda/whl_metadata_upload_pep658/**
  push:
    branches:
      - main
    paths:
      - .github/workflows/deploy_lambda_whl_metadata_upload_pep658.yml
      - aws/lambda/whl_metadata_upload_pep658/**

defaults:
  run:
    working-directory: aws/lambda/whl_metadata_upload_pep658/

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.13'
          cache: pip
      - run: pip install -r requirements.txt
      - run: python test_lambda_function.py

  deploy:
    needs: test
    runs-on: ubuntu-22.04
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.13'
          cache: pip
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: arn:aws:iam::749337293305:role/gha_workflow_whl_metadata_upload_pep658
          aws-region: us-east-1
      - run: make deploy
