name: Generates the binary build matrix

on:
  workflow_call:
    inputs:
      package-type:
        description: "Package type to build from (wheel, conda, libtorch)"
        default: "wheel"
        type: string
      os:
        description: "Operating system to generate for (linux, windows, macos, macos-arm64)"
        default: "linux"
        type: string
      channel:
        description: "Channel to use (nightly, test, release, all)"
        default: "nightly"
        type: string
      test-infra-repository:
        description: "Test infra repository to use"
        default: "pytorch/test-infra"
        type: string
      test-infra-ref:
        description: "Test infra reference to use"
        default: "main"
        type: string
      with-cuda:
        description: "Build with Cuda?"
        default: "enable"
        type: string
      with-rocm:
        description: "Build with Rocm?"
        default: "enable"
        type: string
      with-cpu:
        description: "Build with CPU?"
        default: "enable"
        type: string
    outputs:
      matrix:
        description: "Generated build matrix"
        value: ${{ jobs.generate.outputs.matrix }}

jobs:
  generate:
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Checkout test-infra repository
        uses: actions/checkout@v3
        with:
          repository: ${{ inputs.test-infra-repository }}
          ref: ${{ inputs.test-infra-ref }}
      - uses: ./.github/actions/set-channel
      - name: Generate test matrix
        id: generate
        env:
          PACKAGE_TYPE: ${{ inputs.package-type }}
          OS: ${{ inputs.os }}
          CHANNEL: ${{ inputs.channel }}
          WITH_CUDA: ${{ inputs.with-cuda }}
          WITH_ROCM: ${{ inputs.with-rocm }}
          WITH_CPU: ${{ inputs.with-cpu }}
          # limit pull request builds to one version of python unless ciflow/binaries/all is applied to the workflow
          # should not affect builds that are from events that are not the pull_request event
          LIMIT_PR_BUILDS: ${{ github.event_name == 'pull_request' && !contains( github.event.pull_request.labels.*.name, 'ciflow/binaries/all') }}
        run: |
          set -eou pipefail
          MATRIX_BLOB="$(python3 tools/scripts/generate_binary_build_matrix.py)"
          echo "${MATRIX_BLOB}"
          echo "matrix=${MATRIX_BLOB}" >> "${GITHUB_OUTPUT}"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}-${{ inputs.package-type }}-${{ inputs.os }}-${{ inputs.test-infra-repository }}-${{ inputs.test-infra-ref }}
  cancel-in-progress: true
