name: Deploy github-status-test

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/github-status-test-lambda.yml"
      - "aws/lambda/github-status-test/**"
  pull_request:
    paths:
      - ".github/workflows/github-status-test-lambda.yml"
      - "aws/lambda/github-status-test/**"

defaults:
  run:
    working-directory: aws/lambda/github-status-test/

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: arn:aws:iam::308535385114:role/gha_workflow_github-status-test-lambda
          aws-region: us-east-1

      - name: Check out test infra
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0

      - uses: nick-fields/retry@3e91a01664abd3c5cd539100d10d33b9c5b68482 # v2.8.2
        name: Setup dependencies
        with:
          shell: bash
          timeout_minutes: 10
          max_attempts: 3
          retry_wait_seconds: 30
          command: |
            set -eux
            python3 -m pip install awscli

      - name: Prepare package
        run: |
          make prepare

      - name: Deploy the lambda
        run: |
          make deploy
