name: Deploy github-status-test

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/github-status-test-lambda.yml"
      - "aws/lambda/github-status-test/**"
  pull_request:
    paths:
      - ".github/workflows/github-status-test-lambda.yml"
      - "aws/lambda/github-status-test/**"

defaults:
  run:
    working-directory: aws/lambda/github-status-test/

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out test infra
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v2

      - uses: nick-fields/retry@3e91a01664abd3c5cd539100d10d33b9c5b68482
        name: Setup dependencies
        with:
          shell: bash
          timeout_minutes: 10
          max_attempts: 3
          retry_wait_seconds: 30
          command: |
            set -eux
            python3 -m pip install awscli
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1.7.0
        with:
          role-to-assume: arn:aws:iam::308535385114:role/gha_workflow_github-status-test-lambda
          aws-region: us-east-1
      - name: Prepare package
        run: |
          make prepare
      - name: Deploy the lambda. (This only makes the lambda ready. Manual verification steps are still required to get it into prod because of the lack of automated testing here. Checkout aws/lambda/github-status-test/github-status-test/README.md to see how to get the deployed lambda to prod)
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: |
          make deploy
