name: GitHub Analytics Daily

on:
  pull_request:
    paths:
      - .github/workflows/github-analytics-daily.yml
      - tools/analytics/github_analyze.py
  workflow_call:
    inputs:
      branch:
        description: "PyTorch release branch. e.g. release/2.7"
        default: "release/2.10"
        required: false
        type: string
      milestone-id:
        description: 'Release milestone ID. e.g. 54'
        default: 57
        required: false
        type: string
  workflow_dispatch:
    inputs:
      branch:
        description: "PyTorch release branch. e.g. release/2.7"
        default: "release/2.10"
        required: false
        type: string
      milestone-id:
        description: 'Release milestone ID. e.g. 54'
        default: 57
        required: false
        type: string

jobs:
  github-analyze:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout test-infra
      uses: actions/checkout@v6

    - name: Checkout PyTorch repository
      uses: actions/checkout@v6
      with:
        repository: pytorch/pytorch
        path: pytorch
        fetch-depth: 0  # Need full history for analysis

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        set -eux
        python3 -m pip install --upgrade pip
        python3 -m pip install requests==2.31.0 tqdm==4.64.1

    - name: Show missing reverts
      env:
          BRANCH: ${{ inputs.branch || 'release/2.10' }}
      run: |
        python3 tools/analytics/github_analyze.py \
          --repo-path ./pytorch \
          --remote origin \
          --branch "${BRANCH}" \
          --analyze-missing-reverts-from-branch

    - name: Show outstanding milestone issues
      env:
          BRANCH: ${{ inputs.branch || 'release/2.10' }}
          MILESTONE: ${{ inputs.milestone-id || '57' }}
      run: |
        python3 tools/analytics/github_analyze.py \
          --repo-path ./pytorch \
          --remote origin \
          --branch "${BRANCH}" \
          --milestone-id "${MILESTONE}" \
          --missing-in-branch
