name: Create Release Tag

on:
  workflow_dispatch: {}
  push: # Automatically tag as release eligible changes to autoscaler lambdas once merged to main
    branches:
      - main
    paths:
      - 'terraform-aws-github-runner/**'
      - 'aws/lambda/**'
  pull_request: # Generate tag when PR modifies this workflow file
    paths:
      - '.github/workflows/lambda-release-tag-runners.yml'

jobs:
  tag:
    name: Create Release Tag
    runs-on: ubuntu-latest
    container: node:20
    outputs:
      date: ${{ steps.date.outputs.date }}
      tag_name: ${{ steps.tag.outputs.tag_name }}
    steps:
      - name: Checkout branch
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Get current date
        id: date
        run: |
          echo "date=$(date +'%Y%m%d-%H%M%S')" >> "${GITHUB_OUTPUT}"

      - name: Create tag name
        id: tag
        run: |
          if [ "${{ github.event_name }}" = "push" ] && [ "${{ github.ref }}" = "refs/heads/main" ]; then
            echo "tag_name=v${{ steps.date.outputs.date }}" >> "${GITHUB_OUTPUT}"
          else
            echo "tag_name=v${{ steps.date.outputs.date }}-custom" >> "${GITHUB_OUTPUT}"
          fi

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: 811065
          private-key: ${{ secrets.TAG_RELEASE }}

      - name: Tag snapshot
        uses: tvdias/github-tagger@a570476cc87352c1655c606b29590df6014535e0 # v0.0.1
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        with:
          repo-token: ${{ steps.app-token.outputs.token }}
          tag: ${{ steps.tag.outputs.tag_name }}

      - name: Write tag to summary
        run: |
          echo "Release tag: ${{ steps.tag.outputs.tag_name }}" >> "${GITHUB_STEP_SUMMARY}"

  call-release:
    permissions:
      contents: write
    needs: tag
    uses: ./.github/workflows/_lambda-do-release-runners.yml
    with:
      tag: ${{ needs.tag.outputs.tag_name }}
