name: lambda_github_status_webhook_handler

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/lambda_github_status_webhook_handler.yml'
      - 'aws/lambda/github-status-webhook-handler/**'

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Deploy
        uses: appleboy/lambda-action@1e05c1377056f21ebb2ce69b910bc16b943c2a66
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: us-east-1
          function_name: github-status-webhook-handler
          source: aws/lambda/github-status-webhook-handler/lambda_function.py
          timeout: 120 # 120 seconds as the max duration of the lambda_function, status webhook handler might need to wait for the redis distributed lock occasionally
