name: Lint

on:
  pull_request:
    paths:
      - mypy.ini
      - '**.py'
      - '**requirements.txt'
  push:
    branches:
      - main
    paths:
      - mypy.ini
      - '**.py'
      - '**requirements.txt'

jobs:
  mypy:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          architecture: 'x64'
      - name: Install dependencies
        run: |
          pip install --requirement=.mypy_requirements.txt
      - name: Run mypy
        env:
          MYPY_FORCE_COLOR: 1
        run: |
          mypy
