name: log-classifier-lambda

on:
  pull_request:
    paths:
      - aws/lambda/log-classifier/**
  push:
    branches:
      - main
    paths:
      - .github/workflows/log-classifier-lambda.yml
      - aws/lambda/log-classifier/**

defaults:
  run:
    working-directory: aws/lambda/log-classifier/

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - run: cargo test

  deploy:
    needs: test
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: arn:aws:iam::308535385114:role/gha_workflow_log-classifier-lambda
          aws-region: us-east-1
      - run: pip3 install cargo-lambda
      - run: cargo lambda build --release
      - run: cargo lambda deploy
