name: Run mobile tests on devices

on:
  workflow_call:
    inputs:
      job-name:
        description: Name for the job, which is displayed in the GitHub UI
        default: mobile-job
        type: string
      device-type:
        description: The type of device (iOS or Android) to test against
        type: string
      runner:
        description: The runner to run the test on
        type: string
      timeout:
        description: Timeout for the job (in minutes)
        required: false
        default: 60
        type: number
      python-version:
        description: Set the python version used in the job
        required: false
        type: string
        default: '3.11'

      # AWS Device Farm, this can be copied from AWS console and it's default to
      # PyTorch project
      project-arn:
        description: The AWS Device Farm project where the test runs
        default: 'arn:aws:devicefarm:us-west-2:308535385114:project:b531574a-fb82-40ae-b687-8f0b81341ae0'
        type: string
      device-pool-arn:
        description: The device pool associated with the project
        default: 'arn:aws:devicefarm:us-west-2::devicepool:082d10e5-d7d7-48a5-ba5c-b33d66efa1f5'
        type: string

      # Pulling test-infra itself for device farm runner script
      test-infra-repository:
        description: Test infra repository to use
        default: 'pytorch/test-infra'
        type: string
      test-infra-ref:
        description: Test infra reference to use
        default: ''
        type: string

      # iOS-specific inputs
      ios-ipa-archive:
        description: |
          Either a link to the iOS app IPA archive to run the tests or an existing ARN
        required: false
        type: string
        default: ''
      ios-xctestrun-zip:
        description: |
          Either a link to the iOS xctestrun zip archive or an existing ARN
        required: false
        type: string
        default: ''

      # Android-specific inputs
      android-app-archive:
        description: |
          Either a link to the Android app APK archive to run or an existing ARN
        required: false
        type: string
        default: ''
      android-test-archive:
        description: |
          Either a link to the Android instrumentation tests APK archive to run or
          an existing ARN
        required: false
        type: string
        default: ''

      # Some share test inputs
      test-spec:
        description: |
          Specify how the test should be run on device. This could either be a link to
          download the spec or an existing ARN if the spec has previously been uploaded
          to AWS
        required: false
        type: string
        default: ''
      # The extra data archive could be large, so it's better to keep them on S3
      extra-data:
        description: |
          A link to a zip archive on S3 to be uploaded to the test device
        required: false
        type: string
        default: ''
      extra-data-use-cached-copy:
        description: |
          If the extra data zip archive remains unchanged, we can use its existing copy
          on AWS to make the job faster. Note that AWS deletes the copy after 30 days
          even if it is still used and the job will reupload the file when this happens
        required: false
        type: string
        default: true

jobs:
  job:
    name: ${{ inputs.job-name }} (${{ inputs.device-type }})
    runs-on: ${{ inputs.runner }}
    timeout-minutes: ${{ inputs.timeout }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Clean workspace
        run: |
          echo "::group::Cleanup debug output"
          rm -rfv "${GITHUB_WORKSPACE}"
          mkdir -p "${GITHUB_WORKSPACE}"
          echo "::endgroup::"

      - name: Authenticate with AWS
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::308535385114:role/gha_workflow_mobile_job
          aws-region: us-east-1

      - name: Checkout repository (${{ inputs.test-infra-repository }}@${{ inputs.test-infra-ref }})
        uses: actions/checkout@v3
        with:
          repository: ${{ inputs.test-infra-repository }}
          ref: ${{ inputs.test-infra-ref }}
          path: test-infra

      - name: Setup miniconda
        uses: ./test-infra/.github/actions/setup-miniconda
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install pip dependencies
        shell: bash
        working-directory: test-infra/tools/device-farm-runner
        run: |
          ${CONDA_RUN} pip install -r requirements.txt

      - name: Verify iOS artifacts
        id: verify-ios-artifacts
        if: ${{ inputs.device-type == 'ios' }}
        shell: bash
        working-directory: test-infra/tools/device-farm-runner
        env:
          IPA_ARCHIVE: ${{ inputs.ios-ipa-archive }}
          XCTESTRUN_ZIP: ${{ inputs.ios-xctestrun-zip }}
        run: |
          set -ex

          if [ -z "${IPA_ARCHIVE}" ] || [ -z "${XCTESTRUN_ZIP}" ]; then
            echo "Missing IPA archive or xctestrun zip"
            exit 1
          fi

          if [[ "${IPA_ARCHIVE}" == http* ]]; then
            IPA_ARCHIVE_OUTPUT="ci.ipa"

            curl -s "${IPA_ARCHIVE}" -o "${IPA_ARCHIVE_OUTPUT}"
            ls -lah "${IPA_ARCHIVE_OUTPUT}"
          else
            IPA_ARCHIVE_OUTPUT="${IPA_ARCHIVE}"
          fi

          echo "ipa-archive-output=${IPA_ARCHIVE_OUTPUT}" >> "${GITHUB_OUTPUT}"

          if [[ "${XCTESTRUN_ZIP}" == http* ]]; then
            XCTESTRUN_ZIP_OUTPUT="ci.xctestrun.zip"

            curl -s "${XCTESTRUN_ZIP}" -o "${XCTESTRUN_ZIP_OUTPUT}"
            ls -lah "${XCTESTRUN_ZIP_OUTPUT}"
          else
            XCTESTRUN_ZIP_OUTPUT="${XCTESTRUN_ZIP}"
          fi

          echo "xctestrun-zip-output=${XCTESTRUN_ZIP_OUTPUT}" >> "${GITHUB_OUTPUT}"

      - name: Verify Android artifacts
        id: verify-android-artifacts
        if: ${{ inputs.device-type == 'android' }}
        shell: bash
        working-directory: test-infra/tools/device-farm-runner
        env:
          APP_ARCHIVE: ${{ inputs.android-app-archive }}
          TEST_ARCHIVE: ${{ inputs.android-test-archive }}
        run: |
          set -ex

          if [ -z "${APP_ARCHIVE}" ] || [ -z "${TEST_ARCHIVE}" ]; then
            echo "Missing the app or test archives"
            exit 1
          fi

          if [[ "${APP_ARCHIVE}" == http* ]]; then
            APP_ARCHIVE_OUTPUT="ci.apk"

            curl -s "${APP_ARCHIVE}" -o "${APP_ARCHIVE_OUTPUT}"
            ls -lah "${APP_ARCHIVE_OUTPUT}"
          else
            APP_ARCHIVE_OUTPUT="${APP_ARCHIVE}"
          fi

          echo "app-archive-output=${APP_ARCHIVE_OUTPUT}" >> "${GITHUB_OUTPUT}"

          if [[ "${TEST_ARCHIVE}" == http* ]]; then
            TEST_ARCHIVE_OUTPUT="ci.test.apk"

            curl -s "${TEST_ARCHIVE}" -o "${TEST_ARCHIVE_OUTPUT}"
            ls -lah "${TEST_ARCHIVE_OUTPUT}"
          else
            TEST_ARCHIVE_OUTPUT="${TEST_ARCHIVE}"
          fi

          echo "test-archive-output=${TEST_ARCHIVE_OUTPUT}" >> "${GITHUB_OUTPUT}"

      - name: Verify test spec
        id: verify-test-spec
        shell: bash
        working-directory: test-infra/tools/device-farm-runner
        env:
          TEST_SPEC: ${{ inputs.test-spec }}
        run: |
          set -ex

          if [[ "${TEST_SPEC}" == http* ]]; then
            TEST_SPEC_OUTPUT="ci.yml"

            curl -s "${TEST_SPEC}" -o "${TEST_SPEC_OUTPUT}"
            cat "${TEST_SPEC_OUTPUT}"
          else
            TEST_SPEC_OUTPUT="${TEST_SPEC}"
          fi

          echo "test-spec-output=${TEST_SPEC_OUTPUT}" >> "${GITHUB_OUTPUT}"

      - name: Verify extra data archive
        id: verify-extra-data
        shell: bash
        working-directory: test-infra/tools/device-farm-runner
        env:
          PROJECT_ARN: ${{ inputs.project-arn }}
          EXTRA_DATA: ${{ inputs.extra-data }}
          EXTRA_DATA_USE_CACHED_COPY: ${{ inputs.extra-data-use-cached-copy }}
        run: |
          set -ex

          if [ -n "${EXTRA_DATA}" ]; then
            if [[ "${EXTRA_DATA}" == http* ]]; then
              # Create a new empty directory to keep the file
              mkdir extra && pushd extra
              # Download the extra data archive
              curl -sO "${EXTRA_DATA}"
              popd

              EXTRA_DATA_FILE=$(ls extra | head -n 1)
              EXTRA_DATA_OUTPUT="extra/${EXTRA_DATA_FILE}"
              EXTRA_DATA_CHECKSUM=($(sha256sum "${EXTRA_DATA_OUTPUT}"))

              ls -lah "${EXTRA_DATA_OUTPUT}"

              # If this set to true, we will try to see if there is already an extra
              # data archive of the same name and md5 uploaded to AWS Device Farm
              if [[ "${EXTRA_DATA_USE_CACHED_COPY}" == true ]]; then
                # Find existing uploads with the same name
                EXISTING_UPLOADS=$(aws devicefarm list-uploads \
                  --arn "${PROJECT_ARN}" \
                  --region us-west-2 \
                  --type EXTERNAL_DATA \
                  --query 'uploads[?contains(name, "${EXTRA_DATA_FILE}")].{arn: arn, name: name, url: url}')

                # Find the one with the same checksum
                echo "${EXISTING_UPLOADS}" | jq -r ".[].url" | while read -r URL
                do
                  mkdir temp && pushd temp
                  curl -sO "${URL}"
                  popd

                  ls -lah temp/
                  EXISTING_CHECKSUM=($(sha256sum temp/*))
                  # Cache-hit, use the ARN
                  if [[ "${EXTRA_DATA_CHECKSUM}" == "${EXISTING_CHECKSUM}" ]]; then
                    EXTRA_DATA_OUTPUT=$(echo "${EXISTING_UPLOADS}" | jq -r '.[] | select(.url == "$URL").arn')
                    echo "Found an existing copy of ${EXTRA_DATA_FILE} at ${EXTRA_DATA_OUTPUT}, skipping upload..."
                    break
                  fi
                  rm -r temp
                done
              fi
            else
              EXTRA_DATA_OUTPUT="${EXTRA_DATA}"
            fi
          else
            EXTRA_DATA_OUTPUT=""
          fi

          echo "extra-data-output=${EXTRA_DATA_OUTPUT}" >> "${GITHUB_OUTPUT}"

      - name: Run iOS tests on devices
        if: ${{ inputs.device-type == 'ios' }}
        shell: bash
        working-directory: test-infra/tools/device-farm-runner
        env:
          PROJECT_ARN: ${{ inputs.project-arn }}
          DEVICE_POOL_ARN: ${{ inputs.device-pool-arn }}
          IPA_ARCHIVE: ${{ steps.verify-ios-artifacts.outputs.ipa-archive-output }}
          XCTESTRUN_ZIP: ${{ steps.verify-ios-artifacts.outputs.xctestrun-zip-output }}
          TEST_SPEC: ${{ steps.verify-test-spec.outputs.test-spec-output }}
          EXTRA_DATA: ${{ steps.verify-extra-data.outputs.extra-data-output }}
          # For record keeping
          JOB_NAME: ${{ inputs.job-name }}
          DEVICE_TYPE: ${{ inputs.device-type }}
          RUN_ID: ${{ github.run_id }}
          RUN_ATTEMPT: ${{ github.run_attempt }}
        run: |
          set -ex

          ${CONDA_RUN} python run_on_aws_devicefarm.py \
            --project-arn "${PROJECT_ARN}" \
            --device-pool-arn "${DEVICE_POOL_ARN}" \
            --app "${IPA_ARCHIVE}" \
            --ios-xctestrun "${XCTESTRUN_ZIP}" \
            --extra-data "${EXTRA_DATA}" \
            --test-spec "${TEST_SPEC}" \
            --name-prefix "${JOB_NAME}-${DEVICE_TYPE}" \
            --workflow-id "${RUN_ID}" \
            --workflow-attempt "${RUN_ATTEMPT}"

      - name: Run Android tests on devices
        if: ${{ inputs.device-type == 'android' }}
        shell: bash
        working-directory: test-infra/tools/device-farm-runner
        env:
          PROJECT_ARN: ${{ inputs.project-arn }}
          DEVICE_POOL_ARN: ${{ inputs.device-pool-arn }}
          APP_ARCHIVE: ${{ steps.verify-android-artifacts.outputs.app-archive-output }}
          TEST_ARCHIVE: ${{ steps.verify-android-artifacts.outputs.test-archive-output }}
          TEST_SPEC: ${{ steps.verify-test-spec.outputs.test-spec-output }}
          EXTRA_DATA: ${{ steps.verify-extra-data.outputs.extra-data-output }}
          # For record keeping
          JOB_NAME: ${{ inputs.job-name }}
          DEVICE_TYPE: ${{ inputs.device-type }}
          RUN_ID: ${{ github.run_id }}
          RUN_ATTEMPT: ${{ github.run_attempt }}
        run: |
          set -ex

          ${CONDA_RUN} python run_on_aws_devicefarm.py \
            --project-arn "${PROJECT_ARN}" \
            --device-pool-arn "${DEVICE_POOL_ARN}" \
            --app "${APP_ARCHIVE}" \
            --android-instrumentation-test "${TEST_ARCHIVE}" \
            --extra-data "${EXTRA_DATA}" \
            --test-spec "${TEST_SPEC}" \
            --name-prefix "${JOB_NAME}-${DEVICE_TYPE}" \
            --workflow-id "${RUN_ID}" \
            --workflow-attempt "${RUN_ATTEMPT}"
