name: Test and deploy opensearch-gha-jobs lambda

on:
  pull_request:
    paths:
      - aws/lambda/opensearch-gha-jobs/**
  push:
    branches:
      - main
    paths:
      - .github/workflows/opensearch-gha-jobs-lambda.yml
      - aws/lambda/opensearch-gha-jobs/**

defaults:
  run:
    working-directory: aws/lambda/opensearch-gha-jobs/

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.11'
          cache: pip
      - run: pip3 install -r requirements.txt
      - run: pytest -v test_lambda_function.py

  deploy:
    needs: test
    runs-on: ubuntu-22.04
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.11'
          cache: pip
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: arn:aws:iam::308535385114:role/gha_workflow_opensearch-gha-jobs-lambda
          aws-region: us-east-1
      - run: make deploy
