name: Test and deploy opensearch-gha-jobs lambda

on:
  pull_request:
    paths:
      - .github/workflows/opensearch-gha-jobs-lambda.yml
      - aws/lambda/opensearch-gha-jobs/**
  push:
    branches:
      - main
    paths:
      - .github/workflows/opensearch-gha-jobs-lambda.yml
      - aws/lambda/opensearch-gha-jobs/**

defaults:
  run:
    working-directory: aws/lambda/opensearch-gha-jobs/

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: pip
      - run: pip3 install -r requirements.txt
      - run: pytest -v test_lambda_function.py

  deploy:
    needs: test
    runs-on: ubuntu-22.04
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: pip
      - run: make deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
