name: Push prod tags to Rockset query lambdas
# This action pushes the "prod" tag to every query lambda version that we
# reference from our application.

on:
  push:
    branches:
      - main

defaults:
  run:
    working-directory: torchci

jobs:
  push-rockset-tags:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: yarn install --frozen-lockfile
      - run: yarn node scripts/pushRocksetTags.mjs
        env:
          ROCKSET_API_KEY: ${{ secrets.ROCKSET_API_KEY }}
