name: Release binary to pypi

on:
  workflow_dispatch:
    inputs:
      dryrun:
        required: true
        type: choice
        default: enabled
        options:
          - enabled
          - disabled
      package:
        description: "Domain to prepare and release"
        required: true
        type: choice
        default: torchao
        options:
          - torchao
          - torchtune
          - executorch
          - torchvision
          - torchaudio

permissions:
  id-token: write
  contents: read

jobs:
  trigger:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    environment: promote-env
    container:
      image: pytorch/almalinux-builder:cpu
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Configure aws credentials (pytorch account)
        uses: aws-actions/configure-aws-credentials@50ac8dd1e1b10d09dac7b8727528b91bed831ac0 # v3.0.2
        with:
          role-to-assume: arn:aws:iam::749337293305:role/gha_workflow_promote_wheels
          aws-region: us-east-1
      - name: Copy staged binaries
        shell: bash
        env:
          PACKAGE: ${{ inputs.package || 'torchvision' }}
          DRY_RUN: ${{ inputs.dryrun || 'enabled' }}
        run: |
            set -ex

            # Default Version to promote
            CUDA_ARCH="cu128"
            LINUX_VERSION_SUFFIX="%2B${CUDA_ARCH}"
            CPU_VERSION_SUFFIX="%2Bcpu"
            MACOS_ARM64="macosx_.*_arm64"

            # Install requirements
            pip install awscli==1.32.18


            # Init release versions variables
            source release/pypi/release_versions.sh
            # shellcheck disable=SC2086
            version="${PACKAGE^^}_VERSION"
            mkdir dist/
            aws s3 sync "s3://pytorch-backup/${PACKAGE}-${!version}-pypi-staging/" dist/ --debug

      - name: Publish package to PyPI
        if: ${{ inputs.dryrun == 'disabled' }}
        uses: pypa/gh-action-pypi-publish@release/v1
