name: Delete old query lambda versions on Rockset
# This action deletes old lambda versions on Rockset

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

defaults:
  run:
    working-directory: torchci

jobs:
  push-rockset-tags:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: yarn install --frozen-lockfile
      - run: yarn node scripts/deleteOldQueryLambdaVersions.mjs
        env:
          ROCKSET_API_KEY: ${{ secrets.ROCKSET_API_KEY }}
