name: Test and deploy the lambda to ingest ServiceLab results from S3

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/servicelab-ingestor-lambda.yml
      - aws/lambda/servicelab-ingestor/**

defaults:
  run:
    working-directory: aws/lambda/servicelab-ingestor

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: pip
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1.7.0
        with:
          role-to-assume: arn:aws:iam::308535385114:role/gha_workflow_servicelab-ingestor-lambda
          aws-region: us-east-1
      - run: make deploy
