name: stronghold

on:
  pull_request:
    paths:
      - .github/workflows/stronghold.yml
      - tools/stronghold/**
  push:
    branches:
      - main
    paths:
      - .github/workflows/stronghold.yml
      - tools/stronghold/**

jobs:
  api-compatibility-check:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      ref: ${{ github.event.pull_request.head.sha }}
      script: |
        cd tools/stronghold/
        bin/build-check-api-compatibility
        env
        git diff-tree --name-only -r origin/${GITHUB_BASE_REF}..origin/${GITHUB_HEAD_REF}
        bin/check-api-compatibility

  black:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      script: |
        cd tools/stronghold/
        python -m venv .venv/
        source .venv/bin/activate
        pip install --requirement=requirements.txt
        black --check --diff .

  flake8:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      script: |
        cd tools/stronghold/
        python -m venv .venv/
        source .venv/bin/activate
        pip install --requirement=requirements.txt
        flake8 .

  mypy:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      script: |
        cd tools/stronghold/
        python -m venv .venv/
        source .venv/bin/activate
        pip install --requirement=requirements.txt
        mypy .

  pytest:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      script: |
        cd tools/stronghold/
        python -m venv .venv/
        source .venv/bin/activate
        pip install --requirement=requirements.txt
        pytest
