name: stronghold

on:
  pull_request:
    paths:
      - .github/workflows/stronghold.yml
      - tools/stronghold/**
  push:
    branches:
      - main
    paths:
      - .github/workflows/stronghold.yml
      - tools/stronghold/**

jobs:
  api-compatibility-check:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      # Fetch the commit, rather than the merge.
      ref: ${{ github.event.pull_request.head.sha }}
      script: |
        cd tools/stronghold/
        bin/build-check-api-compatibility
        # We need to fetch the base otherwise, we can't diff against it.
        git fetch origin ${{ github.event.pull_request.base.sha }}
        bin/check-api-compatibility                              \
            --base-commit=${{ github.event.pull_request.base.sha }} \
            --head-commit=${{ github.event.pull_request.head.sha }}

  black:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      script: |
        cd tools/stronghold/
        python -m venv .venv/
        source .venv/bin/activate
        pip install --requirement=requirements.txt
        black --check --diff .

  flake8:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      script: |
        cd tools/stronghold/
        python -m venv .venv/
        source .venv/bin/activate
        pip install --requirement=requirements.txt
        flake8 .

  mypy:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      script: |
        cd tools/stronghold/
        python -m venv .venv/
        source .venv/bin/activate
        pip install --requirement=requirements.txt
        mypy .

  pytest:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      script: |
        cd tools/stronghold/
        python -m venv .venv/
        source .venv/bin/activate
        pip install --requirement=requirements.txt
        pytest
