name: stronghold

on:
  pull_request:
    paths:
      - .github/workflows/stronghold.yml
      - tools/stronghold/**
  push:
    branches:
      - main
    paths:
      - .github/workflows/stronghold.yml
      - tools/stronghold/**

jobs:
  api-compatibility-check:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@release/2.1
    with:
      # Fetch the commit, rather than the merge.
      ref: ${{ github.event.pull_request.head.sha }}
      script: |
        cd tools/stronghold/
        bin/build-check-api-compatibility
        bin/check-api-compatibility                                 \
            --base-commit=${{ github.event.pull_request.base.sha }} \
            --head-commit=${{ github.event.pull_request.head.sha }}

      runner: linux.large

  black:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@release/2.1
    with:
      script: |
        echo ::group::setup Python environment
        cd tools/stronghold/
        python -m venv .venv/
        source .venv/bin/activate
        pip install --requirement=requirements.txt
        echo ::endgroup::

        # black writes its output to stderr, so we redirect stderr to
        # tee, and then return tee's output back to stderr.
        black --check --diff . 2> >(tee "${GITHUB_STEP_SUMMARY}" >&2)

      docker-image: python:3.11.0-slim-bullseye
      runner: linux.large

  flake8:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@release/2.1
    with:
      script: |
        echo ::group::setup Python environment
        cd tools/stronghold/
        python -m venv .venv/
        source .venv/bin/activate
        pip install --requirement=requirements.txt
        echo ::endgroup::

        flake8 --output-file="${GITHUB_STEP_SUMMARY}" --tee .

      docker-image: python:3.11.0-slim-bullseye
      runner: linux.large

  mypy:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@release/2.1
    with:
      script: |
        echo ::group::setup Python environment
        cd tools/stronghold/
        python -m venv .venv/
        source .venv/bin/activate
        pip install --requirement=requirements.txt
        echo ::endgroup::

        mypy . | tee "${GITHUB_STEP_SUMMARY}"

      docker-image: python:3.11.0-slim-bullseye
      runner: linux.large

  pytest:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@release/2.1
    with:
      script: |
        echo ::group::setup Python environment
        cd tools/stronghold/
        python -m venv .venv/
        source .venv/bin/activate
        pip install --requirement=requirements.txt
        echo ::endgroup::

        pytest | tee "${GITHUB_STEP_SUMMARY}"

      docker-image: python:3.11.0-bullseye # note: must include git
      runner: linux.large
