name: stronghold

on:
  pull_request:
    paths: 'tools/stronghold/**'
  push:
    branches:
      - main
    paths: 'tools/stronghold/**'

jobs:
  pytest:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      script: |
        cd tools/stronghold/
        python -m venv .venv/
        source .venv/bin/activate
        pip install --requirement=requirements.txt
        pytest
