name: Test build/test linux workflow

on:
  pull_request:
    paths:
      - .github/workflows/linux_job.yml
      - .github/workflows/test_linux_job.yml
      - .github/actions/setup-linux/action.yml
  workflow_dispatch:

jobs:
  test-secrets-no-filter-var:
    uses: ./.github/workflows/linux_job.yml
    secrets: inherit
    with:
      job-name: "test-secrets-no-filter-var"
      runner: linux.2xlarge
      test-infra-repository: ${{ github.repository }}
      test-infra-ref: ${{ github.ref }}
      gpu-arch-type: cpu
      gpu-arch-version: ""
      script: |
        [[ "${SECRET_NOT_A_SECRET_USED_FOR_TESTING}" == "SECRET_VALUE" ]] || exit 1
  test-secrets-filter-var:
    uses: ./.github/workflows/linux_job.yml
    secrets: inherit
    with:
      job-name: "test-secrets-filter-var"
      runner: linux.2xlarge
      secrets-env: "NOT_A_SECRET_USED_FOR_TESTING"
      test-infra-repository: ${{ github.repository }}
      test-infra-ref: ${{ github.ref }}
      gpu-arch-type: cpu
      gpu-arch-version: ""
      script: |
        [[ "${SECRET_NOT_A_SECRET_USED_FOR_TESTING}" == "SECRET_VALUE" ]] || exit 1
  test-cpu:
    uses: ./.github/workflows/linux_job.yml
    with:
      job-name: "linux-py3.8-cpu"
      runner: linux.2xlarge
      test-infra-repository: ${{ github.repository }}
      test-infra-ref: ${{ github.ref }}
      gpu-arch-type: cpu
      gpu-arch-version: ""
      script: |
        conda create --yes --quiet -n test python=3.8
        conda activate test
        python3 -m pip install --extra-index-url https://download.pytorch.org/whl/nightly/cpu --pre torch
        # Can import pytorch
        python3 -c 'import torch'
  test-gpu:
    uses: ./.github/workflows/linux_job.yml
    strategy:
      matrix:
        runner_type: ["linux.4xlarge.nvidia.gpu", "linux.g5.4xlarge.nvidia.gpu"]
    with:
      job-name: "linux-py3.8-cu116"
      runner: ${{ matrix.runner_type }}
      test-infra-repository: ${{ github.repository }}
      test-infra-ref: ${{ github.ref }}
      gpu-arch-type: cuda
      gpu-arch-version: "11.6"
      timeout: 60
      script: |
        conda create --yes --quiet -n test python=3.8
        conda activate test
        python3 -m pip install --extra-index-url https://download.pytorch.org/whl/nightly/cu116 --pre torch
        # Can import pytorch, cuda is available
        python3 -c 'import torch;cuda_avail = torch.cuda.is_available();print("CUDA available: " + str(cuda_avail));assert(cuda_avail)'
        python3 -c 'import torch;t = torch.ones([2,2], device="cuda:0");print(t);print("tensor device:" + str(t.device))'
        nvidia-smi
        nvcc --version | grep "cuda_11.6"
        [[ "${CUDA_HOME}" == "/usr/local/cuda-11.6" ]] || exit 1
  test-docker-image:
    uses: ./.github/workflows/linux_job.yml
    with:
      runner: linux.2xlarge
      test-infra-repository: ${{ github.repository }}
      test-infra-ref: ${{ github.ref }}
      docker-image: fedora:37@sha256:f2c083c0b7d2367a375f15e002c2dc7baaca2b3181ace61f9d5113a8fe2f6b44
      script: |
        source /etc/os-release && [[ "${ID}" = "fedora" ]] || exit 1
  test-upload-artifact:
    uses: ./.github/workflows/linux_job.yml
    with:
      runner: linux.2xlarge
      test-infra-repository: ${{ github.repository }}
      test-infra-ref: ${{ github.ref }}
      upload-artifact: my-cool-artifact
      script: |
        echo "hello" > "${RUNNER_ARTIFACT_DIR}/cool_beans"
  test-download-artifact:
    needs: test-upload-artifact
    uses: ./.github/workflows/linux_job.yml
    with:
      runner: linux.2xlarge
      test-infra-repository: ${{ github.repository }}
      test-infra-ref: ${{ github.ref }}
      download-artifact: my-cool-artifact
      script: |
        grep  "hello" "${RUNNER_ARTIFACT_DIR}/cool_beans"
  test-with-matrix:
    uses: ./.github/workflows/linux_job.yml
    strategy:
      matrix:
        python_version: ["3.7", "3.8", "3.9", "3.10"]
    with:
      runner: linux.2xlarge
      test-infra-repository: ${{ github.repository }}
      test-infra-ref: ${{ github.ref }}
      binary-matrix: ${{ toJSON(matrix) }}
      script: |
        set -x
        PYTHON_VERSION="${{ matrix.python_version }}"
        conda create --yes --quiet -n test python="${PYTHON_VERSION}"
        conda activate test
        python --version | grep "${PYTHON_VERSION}"
