name: Test the update viable/strict

on:
#  schedule:
#    - cron: 17,47 * * * *
  pull_request:
    paths:
      - .github/workflows/update-viablestrict.yml
      - .github/workflows/test-update-viablestrict.yml
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  test:
    uses: ./.github/workflows/update-viablestrict.yml
    with:
      repository: DanilBaibak/vision
      required_checks: "Build Linux,Build M1,Build Macos,Unit-tests on Linux,Unit-tests on M1"
    secrets:
      ROCKSET_API_KEY: ${{ secrets.ROCKSET_API_KEY }}
#      GITHUB_ACCESS_TOKEN : ${{ secrets.TMP_GITHUB_TOKEN }}
      GITHUB_DEPLOY_KEY: ${{ secrets.DANYLO_DEPLOY_KEY }}
