name: Test upload-benchmark-results

on:
  pull_request:
    paths:
      - .github/scripts/upload_benchmark_results.py
      - .github/workflows/test_upload_benchmark_results.ym
      - .github/actions/upload-benchmark-results/*

jobs:
  test:
    runs-on: linux.2xlarge
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Test upload the benchmark results (v3)
        uses: ./.github/actions/upload-benchmark-results
        with:
          benchmark-results-dir: .github/scripts/benchmark-results-dir-for-testing/v3
          schema-version: v3
          dry-run: true
          github-token: ${{ secrets.GITHUB_TOKEN }}

  test-device-name-and-type:
    runs-on: linux.2xlarge
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Test upload the benchmark results with device name and type (v3)
        uses: ./.github/actions/upload-benchmark-results
        with:
          benchmark-results-dir: .github/scripts/benchmark-results-dir-for-testing/v3
          schema-version: v3
          dry-run: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          device-name: rocm
          device-type: 'AMD Instinct Mi325X VF'
