name: Test Build Windows Wheels without CUDA

on:
  pull_request:
    paths:
      - .github/actions/setup-binary-builds/action.yml
      - .github/workflows/test_build_wheels_windows_without_cuda.yml
      - .github/workflows/build_wheels_windows.yml
      - .github/workflows/generate_binary_build_matrix.yml
      - tools/scripts/generate_binary_build_matrix.py
  workflow_dispatch:
jobs:
  generate-matrix:
    uses: ./.github/workflows/generate_binary_build_matrix.yml
    with:
      package-type: wheel
      os: windows
      test-infra-repository: ${{ github.repository }}
      test-infra-ref: ${{ github.ref }}
      with-cuda: disable
  test:
    needs: generate-matrix
    strategy:
      fail-fast: false
      matrix:
        include:
          - repository: pytorch/text
            pre-script: packaging/install_torchdata.sh
            env-script: packaging/vc_env_helper.bat
            post-script: ""
            smoke-test-script: test/smoke_tests/smoke_tests.py
            package-name: torchtext
    uses: ./.github/workflows/build_wheels_windows.yml
    name: ${{ matrix.repository }}
    with:
      repository: ${{ matrix.repository }}
      ref: main
      test-infra-repository: ${{ github.repository }}
      test-infra-ref: ${{ github.ref }}
      build-matrix: ${{ needs.generate-matrix.outputs.matrix }}
      pre-script: ${{ matrix.pre-script }}
      env-script: ${{ matrix.env-script }}
      wheel-build-params: ${{ matrix.wheel-build-params }}
      post-script: ${{ matrix.post-script }}
      smoke-test-script: ${{ matrix.smoke-test-script }}
      package-name: ${{ matrix.package-name }}
      trigger-event: "${{ github.event_name }}"
