name: torchci
on:
  pull_request:
    paths:
      - "torchci/**"
      - "tools/torchci/**"
      - ".github/workflows/torchci.yml"
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: torchci
    steps:
      - uses: actions/checkout@v4
      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - name: yarn prettier --check .
        run: |
          yarn prettier --check . || (echo -e "\033[31mERROR:\033[0m Please run '\033[33myarn format\033[0m' from the /torchci dir. If it doesn't work, run 'yarn install' and try again." && exit 1)
      - run: yarn tsc
      - run: yarn test

  python-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: tools/torchci
    steps:
      - uses: actions/checkout@v4
      - run: |
          pip3 install --upgrade pip
          pip3 install -r requirements.txt
          pip3 install -e .
          pytest tests
