name: Trigger nightly builds for domains

on:
  schedule:
    # every night at 4:30AM
    - cron: 30 4 * * *
  workflow_dispatch:
    inputs:
      domain:
        description: "What domain to trigger"
        required: false
        type: choice
        default: all
        options:
          - vision
          - audio
          - text
          - all

jobs:
  trigger:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Trigger nightly text build
        if: ${{ github.event_name == 'schedule' ||  inputs.domain == 'text' || inputs.domain == 'all' }}
        uses: ./test-infra/.github/actions/trigger-nightly
        with:
          ref: main
          repository: pytorch/text
          token: ${{ secrets.GH_PYTORCHBOT_TOKEN }}
      - name: Trigger nightly audio build
        if: ${{ github.event_name == 'schedule' ||  inputs.domain == 'audio' || inputs.domain == 'all' }}
        uses: ./test-infra/.github/actions/trigger-nightly
        with:
          ref: main
          repository: pytorch/audio
          token: ${{ secrets.GH_PYTORCHBOT_TOKEN }}
      - name: Trigger nightly vision build
        if: ${{ github.event_name == 'schedule' ||  inputs.domain == 'vision' || inputs.domain == 'all' }}
        uses: ./test-infra/.github/actions/trigger-nightly
        with:
          ref: main
          repository: pytorch/vision
          token: ${{ secrets.GH_PYTORCHBOT_TOKEN }}
