name: Update queue times dataset

on:
  schedule:
    # Run every 15 minutes
    - cron: "*/15 * * * *"

defaults:
  run:
    working-directory: torchci
jobs:
  update-queue-rockset:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - run: yarn install --frozen-lockfile
      - run: yarn node scripts/updateQueueTimes.mjs
        env:
          ROCKSET_API_KEY: ${{ secrets.ROCKSET_API_KEY }}
